.layout {
	flex-direction: column;
}

.question {
	display: flex;
	flex-direction: row;
	margin: 8px;
	background-color: lightblue;
}

.choices {
	display: flex;
	flex: 1;
	flex-direction: column;
	margin: 4px;
}

.questionNumber {
	font-size: 16px;
	margin: 4px;
}

.choice {
	display: flex;
	flex: 1;
	margin: 2px;
}


.solutions {
	display: flex;
	flex: 1;
	flex-direction: column;
	margin: 8px;
	margin-left: 32px;
}

.solutionsTitle {
	font-size: 16px;
}

.solution {
	margin: 2px;
	font-size: 14px;
}
